@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 258, 64%, 55%;
    --primary-foreground: 210 40% 98%;
    --primary-08: 258.21, 63.88%, 55.49%, 0.08;
    --primary-16: 258.21, 63.88%, 55.49%, 0.16;
    --primary-24: 258.21, 63.88%, 55.49%, 0.24;
    --primary-32: 258.21, 63.88%, 55.49%, 0.32;
    --primary-40: 258.21, 63.88%, 55.49%, 0.4;
    --primary-48: 258.21, 63.88%, 55.49%, 0.48;
    --primary-56: 258.21, 63.88%, 55.49%, 0.56;
    --primary-64: 258.21, 63.88%, 55.49%, 0.64;
    --primary-72: 258.21, 63.88%, 55.49%, 0.72;
    --primary-80: 258.21, 63.88%, 55.49%, 0.8;

    --secondary: 340, 82%, 52%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-08: 339.61, 82.19%, 51.57%, 0.08;
    --secondary-16: 339.61, 82.19%, 51.57%, 0.16;
    --secondary-24: 339.61, 82.19%, 51.57%, 0.24;
    --secondary-32: 339.61, 82.19%, 51.57%, 0.32;
    --secondary-40: 339.61, 82.19%, 51.57%, 0.4;
    --secondary-48: 339.61, 82.19%, 51.57%, 0.48;
    --secondary-56: 339.61, 82.19%, 51.57%, 0.56;
    --secondary-64: 339.61, 82.19%, 51.57%, 0.64;
    --secondary-72: 339.61, 82.19%, 51.57%, 0.72;
    --secondary-80: 339.61, 82.19%, 51.57%, 0.8;

    --tertiary: 210, 100%, 50%;
    --tertiary-foreground: 222.2 47.4% 11.2%;
    --tertiary-08: 209.88, 100%, 50%, 0.08;
    --tertiary-16: 209.88, 100%, 50%, 0.16;
    --tertiary-24: 209.88, 100%, 50%, 0.24;
    --tertiary-32: 209.88, 100%, 50%, 0.32;
    --tertiary-40: 209.88, 100%, 50%, 0.4;
    --tertiary-48: 209.88, 100%, 50%, 0.48;
    --tertiary-56: 209.88, 100%, 50%, 0.56;
    --tertiary-64: 209.88, 100%, 50%, 0.64;
    --tertiary-72: 209.88, 100%, 50%, 0.72;
    --tertiary-80: 209.88, 100%, 50%, 0.8;

    --muted: 0, 0%, 5.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-08: 0, 0%, 5.1%, 0.08;
    --muted-16: 0, 0%, 5.1%, 0.16;
    --muted-24: 0, 0%, 5.1%, 0.24;
    --muted-32: 0, 0%, 5.1%, 0.32;
    --muted-40: 0, 0%, 5.1%, 0.4;
    --muted-48: 0, 0%, 5.1%, 0.48;
    --muted-56: 0, 0%, 5.1%, 0.56;
    --muted-64: 0, 0%, 5.1%, 0.64;
    --muted-72: 0, 0%, 5.1%, 0.72;
    --muted-80: 0, 0%, 5.1%, 0.8;

    --accent: 34.04 100% 48.04%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent-08: 34.04, 100%, 48.04%, 0.08;
    --accent-16: 34.04, 100%, 48.04%, 0.16;
    --accent-24: 34.04, 100%, 48.04%, 0.24;
    --accent-32: 34.04, 100%, 48.04%, 0.32;
    --accent-40: 34.04, 100%, 48.04%, 0.4;
    --accent-48: 34.04, 100%, 48.04%, 0.48;
    --accent-56: 34.04, 100%, 48.04%, 0.56;
    --accent-64: 34.04, 100%, 48.04%, 0.64;
    --accent-72: 34.04, 100%, 48.04%, 0.72;
    --accent-80: 34.04, 100%, 48.04%, 0.8;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 258, 64%, 55%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rdp [aria-hidden="true"] {
  @apply hidden;
}

.rdp-vhidden {
  @apply hidden;
}

select::-webkit-scrollbar {
  display: none;
}

.rdp-caption_dropdowns {
  @apply flex flex-row items-center justify-center gap-2;
}
